// Set MDL colors
$color-primary: "25, 118, 210"; //"123,81,200"; //"103, 58, 183"; //$palette-deep-purple-500;
$color-primary-dark: "13, 71, 180"; //$palette-deep-purple-700;
$color-accent: "165,204,95"; //"75, 183, 58"; //$palette-lime-A200;
$color-text-accent: "153,86,49"; //"183,103,58"; //"183, 166, 58"; //$palette-lime-800;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-light-contrast;
$color-text-accent-contrast: $color-dark-contrast;
