include _header
include _card
include _resume
+resume('Core', 'Grant Eaton', '../img/GEHex.png', '513-374-7848', 
        'grantiseaton@gmail.com', 'www.github.com/granteaton', '', 
        'www.linkedin.com/in/grant-eaton', '../css/main.css')
  .objective-wrapper
    //+objectiveCard("Nice to meet you, I'm Grant")
      p I am a developing computer scientist seeeking to instill my passion
        | and deliver a unique perspective, creative insight and an enthusiastic attitude
        | to a hard-working, culture-driven, development team.
  .columns
    .column
      +card('Experience', 'code')
        +cardDetail('Labelbox', 'Software Engineer', 
                      '1 yr, Nov 2020 - Present', 'San Francisco, CA', '')
          p  Building full-stack machine learning Diagnostics tools from scratch in
            |  #[span.mdl-color-primary-dark--fg  Typescript],
            |  #[span.mdl-color-primary-dark--fg  React] and
            |  #[span.mdl-color-primary-dark--fg  Python].
            |  Learn more about my product here:
            |  #[span.mdl-color-primary-dark--fg  labelbox.com/product/model-diagnostics].
            |  Led a quarter-long project of 4 engineers to build a
            |  #[span.mdl-color-primary-dark--fg  RabbitMQ] and
            |  #[span.mdl-color-primary-dark--fg  Celery] based data-pipeline to allow users to upload bulk data to our tools.
            |  Helped launch Labelbox's first 
            |  #[span.mdl-color-primary-dark--fg  component library] with
            |  #[span.mdl-color-primary-dark--fg  storybook] integration.
            |  Led multiple front-end projects which require creating technical designs,
            |  helping other engineers, conversing with PMs & designers
            |  in order to expand our platform and help users gain detailed insights about their model's performance. 
        +cardDetail('Cruise Automation', 'Software Engineer', 
                      '2 years, 2019-2020', 'San Francisco, CA', '')
          p  Building web-based tools for rideshare fleets of
            |  #[span.mdl-color-primary-dark--fg  self driving cars].
            |  Developing 
            |  #[span.mdl-color-primary-dark--fg  Cartographer],
            |   a web tool to create and maintain semantic maps of an urban environment through mapping real world features, such as lanes,
            |   boundaries and traffic controls. Used rapid iteration on a team of contributors that grew from 4 to 25 within a couple months.
            |   Built with
            |  #[span.mdl-color-primary-dark--fg  Typescript],
            |  #[span.mdl-color-primary-dark--fg  React/ Redux],
            |  #[span.mdl-color-primary-dark--fg  NodeJS],
            |  #[span.mdl-color-primary-dark--fg  Express],
            |  #[span.mdl-color-primary-dark--fg  Mapbox],
            |  #[span.mdl-color-primary-dark--fg  Kubernetes and Docker].
            |  Helped launch a patented map versioning system which allowed the merging of multiple map updates to avoid conflicts.
        +cardDetail('Cruise Automation', 'Software Engineer Intern', 
                      '3 mo, 2018', 'San Francisco, CA', '')
          p Developing on the Mapping team, working in 
            |  #[span.mdl-color-primary-dark--fg  React + Javascript] and
            |  #[span.mdl-color-primary-dark--fg  Go], on a 3D web application for map deployment of rideshare fleets for self driving cars.
        +cardDetail('IBM', 'Software Developer Intern', 
                      '3 mo, 2017', 'NYC, NY', '')
          p Developing with a Watson Cognitive team using 
            |  #[span.mdl-color-primary-dark--fg  Nodejs],
            |  #[span.mdl-color-primary-dark--fg Angularjs],
            |  #[span.mdl-color-primary-dark--fg Express],
            |  #[span.mdl-color-primary-dark--fg IBM&#39;s Watson APIs] and
            |  #[span.mdl-color-primary-dark--fg Bluemix] to create internal web tools to simplify the use of Watson services for other IBM employees. Designed and built a solution aimed to save
            |  #[span.mdl-color-primary-dark--fg $120,000] annually for the Cognitive Academy team.
        +cardDetail('Oxford Sceen Repair', 'Owner', 
                      '4 yr, 2015 - 2019', 'Oxford, OH', '')
          p  Created an iPhone repair service, profitting 
            |  #[span.mdl-color-primary-dark--fg $10,000] annually, developed software to track sales and profits, along with a website,   
            |  #[span.mdl-color-primary-dark--fg OxfordScreenRepair.com].  
        +cardDetail('Lampros Labs', 'Web & Application Consultant', 
                    '2 mo, 2017', 'Cincinnati, OH', '')
          p Developed IOS and web applications for various clients.
    .column
      +card('Personal Projects', 'assignment_turned_in')
        +cardDetail("Miami Scheduler", 'December 2016 ~ Present', 'MiamiScheduler.com', '', '')
          p A webapp used by over
            |  #[span.mdl-color-primary-dark--fg 1/4 the student body] at Miami University, developed with two teammates in 
            |  #[span.mdl-color-primary-dark--fg Golang],
            |  #[span.mdl-color-primary-dark--fg Vue], and
            |  #[span.mdl-color-primary-dark--fg PostgreSQL] which was made to expedite the course scheduling process at Miami University.
            |  Miami Scheduler is unaffiliated with Miami University.
        +cardDetail("IOS App Hacking/Securing Tutorial", 'June 2013', 'Github.com/GrantEaton/ios-app-hacking', '','')
          p A tutorial on 
            |  #[span.mdl-color-primary-dark--fg iPhone application hacking]  for a popular forum, gaining
            |  #[span.mdl-color-primary-dark--fg 13,000 downloads] and an
            |  #[span.mdl-color-primary-dark--fg award] for Most Useful Contribution.
        //-+cardDetail("Hackathons", 'Feb 2015, Mar 2016', '', '', '')
          p Attended two Hackathons,
            |  #[span.mdl-color-primary-dark--fg RevolutionUC] in Cincinnati and
            |  #[span.mdl-color-primary-dark--fg Miami University&#39;s] first Hackathon in Oxford. 
        +cardDetail("Watson Conversation SlackBot", 'May 2017', 'Github.com/GrantEaton/Watson-Slackbot', '', '')
          p A 
            |  #[span.mdl-color-primary-dark--fg Node.js] script to create a
            |  #[span.mdl-color-primary-dark--fg Slackbot], using
            |  #[span.mdl-color-primary-dark--fg IBM&#39;s Watson Conversation API] and 
            |  #[span.mdl-color-primary-dark--fg Botkit].
      +card('Education', 'school')
        .card-detail-layout
          .title
            p.mdl-color-text-accent--fg Miami University
          .subtitle
            p Oxford, OH
              | #[span.mdl-color-primary-dark--fg  |] 
              | Aug 2015 ~ May 2019 (Expected)
          .content
            p Cumulative GPA, #[span.mdl-color-primary-dark--fg 3.57]
            br
            p Bachelor of Science, 
              | #[span.mdl-color-primary-dark--fg Computer Science]
            br
            p Co-major of Arts, 
              | #[span.mdl-color-primary-dark--fg Interactive Media Studies]
            br
          p(style="margin-top:4px;").courses Graduate Courses
            .card-columns(style="margin-top:2px;")        
              .card-column 
                ul
                  li Machine Learning
                  li Algorithms
                  li High Performace Computing
      +card('Technical Skills', 'star')
        .card-columns
          .card-column.languages(style="width:37.5%")
            p Proficient 
            ul
              ul 
                li Typescript
            p Experienced
            ul
              ul 
                li Javascript / ES6
                li CSS / HTML
              ul
                li Python

          .card-column.frameworks(style="width:24%")
            p Frameworks / Libraries
            ul
              li ReactJS
              li Graphql
              li Mapbox
          .card-column.databases(style="width:24%")
            p Technologies
            ul
              li SQL Databases (Postgres)
              li PostGIS
              li Node.js
              li NestJS

      //- +card('Organizations', 'people')
      //-   +cardDetail('Association for Computing Machinery', 'Aug 2015 ~ 2019', 
      //-               'Student Member', '', '')
      //-   +cardDetail('Mobile Application Development Club', '2016 ~ 2019', 'Student Memeber', 
      //-               '', '')
      //-   +cardDetail('Miami University Rock Climbing Club', 'Aug 2015 ~ 2019', 'Trip Planner/ Member', 
      //-               '', '')
      //-     p Coordinating multiple 12-person climbing trips to the West Coast
  .footer
    p Developed with Material Design Lite, Scss and Jade.
